@charset "UTF-8";

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.font__raleway {
  font-family: Raleway;
}

.font__lato {
  font-family: Lato;
}

/*header*/
.header {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.menu {
  display: none;
}

.header__logo {
  color: gray;
  font-size: 40px;
}

.header__contact {
  padding: 14px 12px;
}

.btn {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  color: #333;
}


.main {
  width: 100%;
}

/*theme*/
.theme {
  background-color: #f2f2f2;
}

.theme__inner {
  padding: 320px 0 250px;
}

.theme__heading {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* WHAT WE CAN DO*/
.can-do {
  background-color: #74cfae;
  padding-top: 50px;
}

.can-do__inner {
  display: flex;
  justify-content: space-around;
  font-size: 0;
}

.can-do__contents {
  color: white;
  width: 60%;
  margin-top: 30px;
}

.can-do__heading {
  font-size: 24px;
}

.can-do__text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 1.5;
}

/*OUR LATEST WORK*/
.work {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
}

.work__heading {
  font-size: 24px;
}

.work__images {
  margin-top: 40px;
  font-size: 0;
  flex-wrap: wrap;
  display: flex;
}

.work__images__image {
  margin-left: 100px;
  margin-top: 80px;
}

.work__images__image a {
  opacity: 0.7;
  transition: all 0.3s;
}

.work__images__image a:hover {
  opacity: 1;
}

.work__images__image:nth-child(3n + 1) {
  margin-left: 0;
}

.work__images__image:nth-child(-n + 3) {
  margin-top: 0;
}

/*work email*/
.work__email__box {
  margin-top: 90px;
}

.work__email__text {
  width: 60%;
  font-size: 20px;
  line-height: 1.5;
  display: inline-block;
}

.work__email__btn {
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 90px;
}

/*skills*/
.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skill__heading {
  color: white;
  font-size: 25px;
}

.skill__boxes {
  margin-top: 70px;
}

.skill__box {
  display: inline-block;
  margin-left: 180px;
}

.skill__box:first-child {
  margin-left: 0;
}

.skill__text {
  color: white;
  margin-top: 20px;
}

/*sns*/
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__contents {
  font-size: 0;
}

.sns__content {
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer;
}

.sns__content:hover {
  background-color: white;
}

.sns__btn {
  color: #74cfae;
  display: inline-block;
  font-size: 50px;
  padding: 40px 0;
  width: 185px;
}

/*footer*/
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer__box__text {
  color: white;
  font-size: 15px;
  text-align: right;
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
    }
  
  .can-do{
    padding-bottom: 25px;
    }
  
  .can-do__inner {
    display: block;
    justify-content: center;
  }
  
  .can-do__contents {
    margin: 20px auto 0;
    width: 100%;
  }
  
  .work__images {
    display: block;
  }
  
  .work__images__image {
    margin: 0 auto;
  }
  
  .work__images__image:nth-child(3n + 4) {
    margin-top: 80px;
  }
  
  .work__email__box {
    margin-top: 80px;
  }
  
  .work__email__text {
    display: block;
    width: 100%;
  }
  
  .work__email__btn {
    margin: 40px auto 0;
  }
  
  .skill__box {
    display: block;
    margin: 88px auto 0;
  }
  
  .skill__box:first-child{
    margin-top: 70px;
  }
}

@media screen and (max-width: 767px) {

  .header__contact {
    display: none;
  }

  .menu {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  .menu span {
    background-color: #ddd;
    height: 3px;
    width: 30px;
    display: block;
    margin-top: 5px;
  }

  .menu span:first-child {
    margin-top: 0;
  }

  .theme__inner {
    padding: 230px 0 130px;
  }

  .theme__heading {
    font-size: 80px;
  }

  .can-do__contents {
    width: 100%;
  }
  
  .sns {
    padding: 50px 0;
  }

  .sns__content {
    display: block;
  }

  .sns__btn {
    width: 100%;
  }
}
